*{
    margin: 0;
}

.navbar{
    background-color: #0074E4;
    display: flex;
    justify-content: space-between;
    
}

.navbar-right, .navbar-items {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}


.navbar-items a, .navbar-right a{
    color: white;
    padding: 0 12px;
}

@media screen and (max-width: 600px) {
    .navbar-items {
      display: block;
      width: 100%;
    }
  }
